
<head>
  <title>Ecommerce a tu medida</title>
  <!-- Fav icon -->
  <link href="/assets/images/logo/favicon.png" rel="shortcut icon">
  <!-- Font Family-->
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <!--bootstrap css-->
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">

  <!--owl carousel css-->
  <link href="/assets/css/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/css/owl.theme.default.min.css" rel="stylesheet">

  <!-- Icons -->
  <link href="/assets/css/fontawesome.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/themify.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/themify.css" rel="stylesheet" type="text/css">

  <!-- flat Icons -->
  <link href="/assets/css/flaticon.css" rel="stylesheet" type="text/css">

  <!--magnific popup css-->
  <link href="/assets/css/magnific-popup.css" rel="stylesheet">

  <!-- color css -->
  <link href="/assets/css/color-7.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/assets/owlcarousel/scss/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/owlcarousel/scss/owl.theme.default.min.css">

</head>


<body data-offset="50" data-spy="scroll" data-target=".navbar" class="">

  <div class="layout-ecommerce">
    <section class="container" >
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/images/ecommerce/2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="text-muted">Todo en descuento</h2>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/assets/images/ecommerce/1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block ">
            <h2 class="text-muted">Joyeria al 30% menos</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/assets/images/ecommerce/2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="text-muted">Sillas al 50% menos</h2>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">siguiente</span>
      </a>
    </div>
  </section>

  <section class="ecommerce feature-product">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8">
          <div class="title title2">
            <div class="sub-title">
              <div>
                <h2 class="title-text">Los productos más nuevos</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12" >
          <div class="isotopeContainer row">
              <div *ngFor="let product of producto" class="col-lg-3 col-sm-6 isotopeSelector branding new ">
                <div class="product-box">
                  <a class="badge badge-success" href="#">En oferta</a>
                  <div class="img-wrapper">
                    <div class="front">
                      <a href="#"><img alt="" class="img-fluid"
                                       src="/assets/images/inner-page/category/2.jpg"></a>
                    </div>
                    <div class="cart-info cart-wrap btn-back">
                      <a class="btn btn-default primary-btn  radius-0 mt-3" href="#">comprar</a>
                    </div>
                  </div>
                  <div class="product-detail">
                    <a routerLink="/producto"><h6>{{product.nombre}}</h6></a>
                    <h4>${{product.precio}}</h4>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-sm amplify-2" >
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Indicators-->
      <ol class="carousel-indicators ">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
      </ol>
      <!--/.Indicators-->
      <div class="container ">
        <!--Controls-->
        <nav aria-label="Page navigation example controls-top">
          <ul class="pagination">
            <li class="page-item mx-auto">
              <a class="page-link bg-light text-dark" href="#multi-item-example" data-slide="prev" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item mx-auto">
              <a class="page-link bg-light text-dark" href="#multi-item-example" data-slide="next" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <!--/.Controls-->
      </div>
      <div class="col-md-8 offset-md-2">
        <div class="title title2">
          <div class="sub-title">
            <div>
              <h2 class="title-text">Categorias</h2>
            </div>
          </div>
        </div>
      </div>
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">
          <div class="card-deck">
            <div class="card border-0">
              <img src="assets/images/agency/blog/12.jpg" class="card-img-top border-amplify" alt="...">
              <div class="card-body mx-auto">
                <h4 class="card-title">Juguetes</h4>
              </div>
            </div>
            <div class="card border-0">
              <img src="assets/images/agency/blog/12.jpg" class="card-img-top border-amplify" alt="...">
              <div class="card-body mx-auto">
                <h4 class="card-title">Belleza</h4>
              </div>
            </div>
            <div class="card border-0">
              <img src="assets/images/agency/blog/12.jpg" class="card-img-top" alt="...">
              <div class="card-body mx-auto">
                <h4 class="card-title">Salud</h4>
              </div>
            </div>
          </div>
        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">
          <div class="card-deck">
            <div class="card border-0">
              <img src="assets/images/agency/blog/12.jpg" class="card-img-top border-amplify" alt="...">
              <div class="card-body mx-auto">
                <h4 class="card-title">Hogar</h4>
              </div>
            </div>
            <div class="card border-0">
              <img src="assets/images/agency/blog/12.jpg" class="card-img-top border-amplify" alt="...">
              <div class="card-body mx-auto">
                <h4 class="card-title">Joyeria</h4>
              </div>
            </div>
            <div class="card border-0">
              <img src="assets/images/agency/blog/12.jpg" class="card-img-top border-amplify" alt="...">
              <div class="card-body mx-auto">
                <h4 class="card-title">Tecnologia</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.Second slide-->
    </div>
    <!--/.Slides-->
    <!--/.Carousel Wrapper-->

  </section>
  <section class="ecommerce-tab">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="title title2">
            <div class="sub-title">
              <div>
                <h2 class="title-text">Los más comprados</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="isotopeContainer row">
        <div class="col-lg-3 col-sm-6 isotopeSelector branding new ">
          <div class="product-box">
            <a class="badge badge-success" href="#">On sale</a>
            <div class="img-wrapper">
              <div class="front">
                <a href="#"><img alt="" class="img-fluid"
                                 src="../assets/images/inner-page/category/2.jpg"></a>
              </div>
              <div class="back">
                <a href="#"><img alt="" class="img-fluid"
                                 src="../assets/images/inner-page/category/4.jpg"></a>
              </div>
              <div class="cart-info cart-wrap btn-back">
                <a class="btn btn-default primary-btn  radius-0 mt-3" href="#">comprar</a></div>
            </div>
            <div class="product-detail">
              <a href="product-page(no-sidebar).html"><h6>Slim Fit Cotton
                Shirt</h6></a>
              <h4>$500.00</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 isotopeSelector trending branding">
          <div class="product-box">
            <a class="badge badge-dark" href="#">50%</a>
            <div class="img-wrapper">
              <div class="front">
                <a href="#"><img alt="" class="img-fluid"
                                 src="../assets/images/inner-page/category/13.jpg"></a>
              </div>
              <div class="back">
                <a href="#"><img alt="" class="img-fluid"
                                 src="../assets/images/inner-page/category/2.jpg"></a>
              </div>
              <div class="cart-info cart-wrap btn-back">
                    <a class="btn btn-default primary-btn  radius-0 mt-3" href="#">comprar</a></div>
                </div>
            <div class="product-detail">
              <a href="product-page(no-sidebar).html"><h6>Slim Fit Cotton
                Shirt</h6></a>
              <h4>$500.00</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 isotopeSelector branding new trending">
          <div class="product-box">
            <a class="badge badge-light" href="#">On sale</a>
            <div class="img-wrapper">
              <div class="front">
                <a href="#"><img alt="" class="img-fluid"
                                 src="../assets/images/inner-page/category/4.jpg"></a>
              </div>
              <div class="back">
                <a href="#"><img alt="" class="img-fluid"
                                 src="../assets/images/inner-page/category/1.jpg"></a>
              </div>
              <div class="cart-info cart-wrap btn-back">
                    <a class="btn btn-default primary-btn  radius-0 mt-3" href="#">comprar</a></div>
                </div>
            <div class="product-detail">
              <a href="product-page(no-sidebar).html"><h6>Slim Fit Cotton
                Shirt</h6></a>
              <h4>$500.00</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 isotopeSelector trending Traditional">
          <div class="product-box">
            <a class="badge badge-light" href="#">On sale</a>
            <div class="img-wrapper">
              <div class="front">
                <a href="#"><img alt="" class="img-fluid"
                                 src="../assets/images/inner-page/category/12.jpg"></a>
              </div>
              <div class="back">
                <a href="#"><img alt="" class="img-fluid"
                                 src="../assets/images/inner-page/category/2.jpg"></a>
              </div>
              <div class="cart-info cart-wrap btn-back">
                    <a class="btn btn-default primary-btn  radius-0 mt-3" href="#">comprar</a></div>
                </div>
            <div class="product-detail">
              <a href="product-page(no-sidebar).html"><h6>Slim Fit Cotton
                Shirt</h6></a>
              <h4>$500.00</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 isotopeSelector new Traditional">
          <div class="product-box">
            <div class="img-wrapper">
              <div class="front">
                <a href="#"><img alt="" class="img-fluid"
                                 src="../assets/images/inner-page/category/11.jpg"></a>
              </div>
              <div class="back">
                <a href="#"><img alt="" class="img-fluid"
                                 src="../assets/images/inner-page/category/2.jpg"></a>
              </div>
              <div class="cart-info cart-wrap btn-back">
                    <a class="btn btn-default primary-btn  radius-0 mt-3" href="#">comprar</a></div>
                </div>
            <div class="product-detail">
              <a href="product-page(no-sidebar).html"><h6>Slim Fit Cotton
                Shirt</h6></a>
              <h4>$500.00</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 isotopeSelector new Traditional">
          <div class="product-box">
            <div class="img-wrapper">
              <div class="front">
                <a href="#"><img alt="" class="img-fluid"
                                 src="../assets/images/inner-page/category/5.jpg"></a>
              </div>
              <div class="back">
                <a href="#"><img alt="" class="img-fluid"
                                 src="../assets/images/inner-page/category/2.jpg"></a>
              </div>
              <div class="cart-info cart-wrap btn-back">
                    <a class="btn btn-default primary-btn  radius-0 mt-3" href="#">comprar</a></div>
                </div>
            <div class="product-detail">
              <a href="product-page(no-sidebar).html"><h6>Slim Fit Cotton
                Shirt</h6></a>
              <h4>$500.00</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 isotopeSelector trending branding">
          <div class="product-box">
            <a class="badge badge-dark" href="#">Trending</a>
            <div class="img-wrapper">
              <div class="front">
                <a href="#"><img alt="" class="img-fluid"
                                 src="../assets/images/inner-page/category/3.jpg"></a>
              </div>
              <div class="back">
                <a href="#"><img alt="" class="img-fluid"
                                 src="../assets/images/inner-page/category/2.jpg"></a>
              </div>
              <div class="cart-info cart-wrap btn-back">
                    <a class="btn btn-default primary-btn  radius-0 mt-3" href="#">comprar</a></div>
                </div>
            <div class="product-detail">
              <a href="product-page(no-sidebar).html"><h6>Slim Fit Cotton
                Shirt</h6></a>
              <h4>$500.00</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 isotopeSelector Traditional">
          <div class="product-box">
            <div class="img-wrapper">
              <div class="front">
                <a href="#"><img alt="" class="img-fluid"
                                 src="../assets/images/inner-page/category/1.jpg"></a>
              </div>
              <div class="back">
                <a href="#"><img alt="" class="img-fluid"
                                 src="../assets/images/inner-page/category/2.jpg"></a>
              </div>
              <div class="cart-info cart-wrap btn-back">
                    <a class="btn btn-default primary-btn  radius-0 mt-3" href="#">comprar</a></div>
                </div>
            <div class="product-detail">
              <a href="product-page(no-sidebar).html"><h6>Slim Fit Cotton
                Shirt</h6></a>
              <h4>$500.00</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="down-banner">
    <div class="container">
      <div class="row">
        <div class="col-12 p-0">
          <div class="small-banner">
            <img alt="full banner" class="bg-img" src="../assets/images/ecommerce/full-banner2.jpg">
          </div>
        </div>
        <div class="container">
          <div class="banner-contain">
            <div>
              <h3>Compra ahora y obten un cupón del 50%</h3>
              <a class="btn btn-default primary-btn  radius-0 mt-3" href="#">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Tap on Top-->
<div class="tap-top">
  <div><i class="fa fa-angle-double-up"></i></div>
</div>
<!-- Tap on Ends-->

<!-- latest jquery-->
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<!-- popper js-->
<script src="/assets/js/popper.min.js"></script>
<!-- Bootstrap js-->
<script src="/assets/js/bootstrap.js"></script>
<!--  costamizer option -->
<script src="/assets/js/custamizer-option.js"></script>
<!--owl js-->
<script src="/assets/js/owl.carousel.min.js"></script>

<!--magnific popup js-->
<script src="/assets/js/magnific-popup.js"></script>
<script src="/assets/js/isotope.min.js"></script>
<script src="/assets/js/portfolio.js"></script>
<!-- AOS JS -->
<script src="/assets/js/aos.js"></script>
<!-- script js-->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/ecommerce.js"></script>


<script src="jquery.min.js"></script>
<script src="/assets/owlcarousel/js/owl.carousel.min.js"></script>
</body><


