<!-- Fav icon -->
<link href="/assets/images/logo/favicon.png" rel="shortcut icon">
<!-- Font Family-->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<!--bootstrap css-->
<link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">

<!-- Icons -->
<link href="/assets/css/fontawesome.css" rel="stylesheet" type="text/css">
<link href="/assets/css/themify.css" rel="stylesheet" type="text/css">

<link href="/assets/css/themify.css" rel="stylesheet" type="text/css">

<!-- flat Icons -->
<link href="/assets/css/flaticon.css" rel="stylesheet" type="text/css">

<!--magnific popup css-->
<link href="/assets/css/magnific-popup.css" rel="stylesheet">

<!-- color css -->
<link href="/assets/css/color-7.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="/assets/owlcarousel/scss/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/owlcarousel/scss/owl.theme.default.min.css">

<section class="amplify-cart cart-section">
  <div class="w-75 mx-auto">
    <div class="row">
      <div class="col-sm-12">
        <div class="card text-center">
      <div class="card-header h2">
        Tu carrito
      </div>
      <div class="card-body">
        <table class="table cart-table table-responsive-xs">
          <thead>
          <tr>
            <th scope="col" class="mx-auto">Producto</th>
            <th scope="col"></th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Precio total</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <a href="#"><img alt="" src="../assets/images/inner-page/category/11.jpg"></a>
            </td>
            <td><a href="#">Nombre producto</a>
              <div class="mobile-cart-content row">
                <div class="col-xs-3">
                  <div class="qty-box">
                    <div class="input-group">
                      <input class="form-control input-number" name="quantity" type="number"
                             value="1">
                    </div>
                  </div>
                </div>
                <div class="col-xs-3">
                  <p class="h2">99.00</p>
                </div>
                <div class="col-xs-3">
                  <h2 class="td-color">
                    <a class="icon" href="#">
                      <a href="#" class="btn btn-primary bg-transparent text-danger border-0 mx-auto">eliminar</a>
                    </a>
                  </h2>
                </div>
              </div>
            </td>
            <td>
              <h2>$63.00</h2></td>
            <td>
              <div class="qty-box">
                <div class="input-group">
                  <input class="form-control input-number" name="quantity" type="number" value="1">
                </div>
              </div>
            </td>
            <td>
              <a href="#" class="btn btn-primary bg-transparent text-danger border-0 mx-auto">eliminar</a>
            </td>
            <td>
              <h2 class="td-color">$99.00</h2>
            </td>
          </tr>
          <tr>
            <!-- Iterar producto -->
          </tr>
          <tr>
            <!-- Iterar producto -->
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer text-muted  ">
        <div class="row cart-buttons">
          <div class="mx-auto">
            <div class="row">
              <div class="col">
                <a class="btn btn-default primary-btn radius-0" data-target="#addtocart" data-toggle="modal" href="#">añadir carrito</a>
              </div>
              <div class="col">
                <a class="btn btn-default primary-btn radius-0" href="#">comprar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
          </div>
          <div class="col-md-auto">
          </div>
          <div class="col col-lg-2">
            <a href="#" class="btn  bg-transparent border-0 text-black  mx-auto"> <div> <h3 class="td-color  padding-l"> Total: $99.00</h3> </div>  </a>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
</section>

<!-- latest jquery-->
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<!-- popper js-->
<script src="/assets/js/popper.min.js"></script>
<!-- Bootstrap js-->
<script src="/assets/js/bootstrap.js"></script>
<!--  costamizer option -->
<script src="/assets/js/custamizer-option.js"></script>
<!--owl js-->
<script src="/assets/js/owl.carousel.min.js"></script>

<!--magnific popup js-->
<script src="/assets/js/magnific-popup.js"></script>
<script src="/assets/js/isotope.min.js"></script>
<script src="/assets/js/portfolio.js"></script>
<!-- AOS JS -->
<script src="/assets/js/aos.js"></script>
<!-- script js-->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/ecommerce.js"></script>


<script src="jquery.min.js"></script>
<script src="/assets/owlcarousel/js/owl.carousel.min.js"></script>
