<footer class="navbar-dark bg-custom">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <ul class="list-group list-group-flush border-0">
          <li class="list-group-item bg-custom text-light h5 mx-auto border-0">Sobre nuestra tienda</li>
          <li class="list-group-item bg-custom text-light border-0"></li>
          <li class="list-group-item bg-custom text-light mx-auto border-0">Dapibus ac facilisis in</li>
          <li class="list-group-item bg-custom text-light mx-auto border-0">Morbi leo risus</li>
          <li class="list-group-item bg-custom text-light mx-auto border-0">Porta ac consectetur ac</li>
          <li class="list-group-item bg-custom text-light mx-auto border-0">Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul class="list-group list-group-flush border-0">
          <li class="list-group-item bg-custom text-light h5 mx-auto border-0">Ayuda</li>
          <li class="list-group-item bg-custom text-light mx-auto border-0"></li>
          <li class="list-group-item bg-custom text-light mx-auto border-0">Dapibus ac facilisis in</li>
          <li class="list-group-item bg-custom text-light mx-auto border-0">Morbi leo risus</li>
          <li class="list-group-item bg-custom text-light mx-auto border-0">Porta ac consectetur ac</li>
          <li class="list-group-item bg-custom text-light mx-auto border-0">Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul class="list-group list-group-flush border-0">
          <li class="list-group-item bg-custom text-light h5 mx-auto border-0">Redes sociales</li>
          <li class="list-group-item bg-custom text-light border-0"></li>
          <li class="list-group-item bg-custom text-light mx-auto border-0">Dapibus ac facilisis in</li>
          <li class="list-group-item bg-custom text-light mx-auto border-0">Morbi leo risus</li>
          <li class="list-group-item bg-custom text-light mx-auto border-0">Porta ac consectetur ac</li>
          <li class="list-group-item bg-custom text-light mx-auto border-0">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>
</footer>








