<head>
  <title>Pago de producto</title>
  <!-- Fav icon -->
  <link href="/assets/images/logo/favicon.png" rel="shortcut icon">
  <!-- Font Family-->
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <!--bootstrap css-->
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">

  <!-- Icons -->
  <link href="/assets/css/fontawesome.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/themify.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/themify.css" rel="stylesheet" type="text/css">

  <!-- flat Icons -->
  <link href="/assets/css/flaticon.css" rel="stylesheet" type="text/css">

  <!--magnific popup css-->
  <link href="/assets/css/magnific-popup.css" rel="stylesheet">

  <!-- color css -->
  <link href="/assets/css/color-7.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/assets/owlcarousel/scss/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/owlcarousel/scss/owl.theme.default.min.css">
</head>

<body>
  <section class="checkout-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div>
          <div class="checkout-form">
            <form>
              <div class="row">
                <div class="w-auto col-sm-12 col-xs-12 mx-auto">
                  <div class="checkout-details">
                    <div class="order-box">
                      <div class="title-box">
                        <div>Producto <span>Total</span></div>
                      </div>
                      <ul class="qty">
                        <li>Pink Slim Shirt × 1 <span>$25.10</span></li>
                        <li>SLim Fit Jeans × 1 <span>$555.00</span></li>
                      </ul>
                      <ul class="sub-total">
                        <li>Subtotal <span class="count">$380.10</span></li>
                        <li>Metodo de envio
                          <div class="shipping">
                            <div class="shopping-option">
                              <input id="free-shipping" name="free-shipping"
                                     type="checkbox">
                              <label for="free-shipping">Envio a domicilio</label>
                            </div>
                            <div class="shopping-option">
                              <input id="local-pickup" name="local-pickup"
                                     type="checkbox">
                              <label for="local-pickup">Recoger en local</label>
                            </div>
                          </div>
                        </li>
                      </ul>
                      <ul class="total">
                        <li>Total <span class="count">$620.00</span></li>
                      </ul>
                    </div>
                    <div class="payment-box">
                      <div class="upper-box">
                        <div class="payment-options">
                          <ul>
                            <li>
                              <div class="radio-option">
                                <input checked="checked" id="payment-1" name="payment-group"
                                       type="radio">
                                <label for="payment-1">Pagar con tarjeta credito/debito<span
                                  class="small-text"></span></label>
                              </div>
                            </li>
                            <li>
                              <div class="radio-option">
                                <input id="payment-2" name="payment-group" type="radio">
                                <label for="payment-2">Pago en OXXO<span
                                  class="small-text"></span></label>
                              </div>
                            </li>
                            <li>
                              <div class="radio-option paypal">
                                <input id="payment-3" name="payment-group" type="radio">
                                <label for="payment-3">PayPal<span class="image"><img
                                  alt=""
                                  src="../assets/images/inner-page/paypal.png"></span></label>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="text-right"><a class="btn btn-default primary-btn radius-0"
                                                 href="#">Comprar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>



<!-- latest jquery-->
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<!-- popper js-->
<script src="/assets/js/popper.min.js"></script>
<!-- Bootstrap js-->
<script src="/assets/js/bootstrap.js"></script>
<!--  costamizer option -->
<script src="/assets/js/custamizer-option.js"></script>
<!--owl js-->
<script src="/assets/js/owl.carousel.min.js"></script>
<!--magnific popup js-->
<script src="/assets/js/magnific-popup.js"></script>
<script src="/assets/js/isotope.min.js"></script>
<script src="/assets/js/portfolio.js"></script>
<!-- AOS JS -->
<script src="/assets/js/aos.js"></script>
<!-- script js-->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/ecommerce.js"></script>
<script src="jquery.min.js"></script>
<script src="/assets/owlcarousel/js/owl.carousel.min.js"></script>
