.amplify {
  line-height: 75px;
  padding-top: 0;
}

.amplify-2 {
  line-height: 45px;
  padding-top: 0;
}

@media screen and (max-width: 980px) {
  .limite {
    display: none;
  }
}

.bg-custom {
  background-color: #2F3136;
}

.icon-color {
  color: #eb624c !important;
}
